osource "D:/Downloads/nordictest/blinky_pwm/boards/shields/*/Kconfig.defconfig"
osource "D:/Downloads/dwm3000-master/examples/ex_02d_rx_sniff/../../boards/shields/*/Kconfig.defconfig"
osource "D:/Downloads/nordictest/sdk/nrf/boards/shields/*/Kconfig.defconfig"
